<div class="spacer"></div>
<div class="container container-body">
  <div class="about-text">
    <p>No Laboratório de Interface, transformamos ideias em experiências digitais excepcionais. Equipados com as mais modernas ferramentas e técnicas de design, capacitamos nossos alunos a criar interfaces intuitivas, acessíveis e inovadoras. Aqui, você aprenderá a desenvolver projetos que encantam e facilitam a vida dos usuários, explorando as últimas tendências em UX, UI, e design responsivo. Junte-se a nós e descubra como o design centrado no usuário pode transformar o mundo digital.</p>
  </div>
  <div class="about-text">
    <p>No Laboratório de Interface, transformamos ideias em experiências digitais excepcionais.
      Equipados com as mais modernas ferramentas e técnicas de design, capacitamos nossos alunos
      a criar interfaces intuitivas, acessíveis e inovadoras.
      Aqui, você aprenderá a desenvolver projetos que encantam e facilitam a vida dos usuários,
      explorando as últimas tendências em UX, UI, e design responsivo. Junte-se a nós e descubra
      como o design centrado no usuário pode transformar o mundo digital.</p>
  </div>
</div>

