<!-- Topo da pagina -->
<div class="spacer"></div>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-12">
      <!-- Titulo da pagina -->
      <div class="btn-group">
        <h2>Sobre</h2>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container container-body">
  <div class="row">
    <div class="col-md-12 about-image">
      <img src="../../../assets/ilustras_interface_fundo_cinza-03.svg" alt="imagem sobre">
    </div>
    <h3 class="col-md-12">Sobre o laboratorio</h3>
    <p class="col-md-6">O Laboratório de Interface abrange o Profissionalizante e o Orientado.
      O primeiro é o momento em que os alunos aprendem a projetar interfaces e/ou sistemas considerando
      aspectos conceituais, técnicos e estéticos, atendendo aos princípios de usabilidade e de viabilidade
      tecnológica. Ainda a compreender os requisitos e restrições específicos de diferentes mídias
      digitais e sua influência no projeto de interfaces. Já o laboratório orientado tem por objetivo
      desenvolver projetos na temática de interfaces considerando aspectos de sistematização dos processos
      criativos, produtivos e de contextualização no mercado, aprimorando habilidades e competências de gestão
      de pessoas, do design e do produto, com vistas à inovações técnico-científicas, socioculturais e estéticas.</p>

    <p class="col-md-6">No Laboratório de Interface, transformamos ideias em experiências digitais excepcionais.
      Equipados com as mais modernas ferramentas e técnicas de design, capacitamos nossos alunos a criar interfaces intuitivas,
      acessíveis e inovadoras. Aqui, você aprenderá a desenvolver projetos que encantam e facilitam a vida dos usuários,
      explorando as últimas tendências em UX, UI, e design responsivo. Junte-se a nós e descubra como o design
      centrado no usuário pode transformar o mundo digital.</p>
    <h3 class="col-md-12 pt-4">Sobre esta ferramenta</h3>
    <p class="col-md-12">Nosso portal é uma plataforma dedicada a facilitar o registro, a edição e a gestão de projetos desenvolvidos por estudantes e profissionais no nosso laboratório. Aqui, você pode documentar todo o seu processo criativo, colaborar com colegas e mentores, e acompanhar o progresso do seu trabalho em um ambiente intuitivo e integrado.</p>
    <h5 class="col-md-12">Funcionalidades Principais:</h5>
    <div class="col-md-6">
      <h6>Registro de projetos:</h6>
      <p>Resgistre novos projetos e adicione nome, autor, thumbnail e links externos referentes ao projeto</p>
      <p>Edite projetos antigos</p>
      <p>Apague projetos antigos e dê lugar para novos</p>
    </div>
    <div class="col-md-6">
      <h6>Visualização de projetos:</h6>
      <p>Permite organizar o projeto em diferentes requisitos de ordenação</p>
    </div>
  </div>
</div>

