<!-- Topo da pagina -->
<div class="container pt-3">
  <div class="row">
    <div class="col-md-12">
      <!-- Titulo da pagina -->
      <div class="btn-group">
        <h2>Projetos</h2>
      </div>
      <!-- Botao ordenar projetos -->
      <div class="btn-group float-right">
        <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
          Ordenar projetos
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item"  (click)="listarProjetos()">Adicionados a mais tempo</button>
          <button class="dropdown-item" (click)="listarProjetosInverso()">Adicionados recentemente</button>
          <button class="dropdown-item" (click)="listarProjetosAno()">Concluidos a mais tempo</button>
          <button class="dropdown-item" (click)="listarProjetosAnoInverso()">Concluidos recentemente</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!--corpo da pagina com os cards de projetos-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!--Card (botão) de adicionar projetos-->
        <div class="col-md-4 mb-4">
          <button class="card-add border-0 w-100 h-100 round" (click)="openModal();form.reset()">
            <div class="card-body-add">
              <h3><i class="fas fa-plus"></i></h3>
              <h5>Adicionar projeto</h5>
            </div>
          </button>
        </div>
        <!--Cards de projetos-->
        <div class="col-md-4 mb-4" *ngFor="let t of projetos">
          <div class="card">
            <div class="card-img-overlay"></div>
            <div *ngIf="form.get('thumbnailProjeto'); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><img class="card-img" src="{{t.thumbnail}}" alt="image"></ng-template>
            <ng-template #elseBlock><img class="card-img" src="../../../assets/test.png" alt="No Image Available"></ng-template>
            <div class="card-body pt-1 pb-1">
              <h5 class="card-title" data-toggle="tooltip" title="{{ t.titulo }}">{{ t.titulo }}</h5>
              <div class="card-info">
                <p class="card-text m-0" data-toggle="tooltip" title="{{t.autor}}">{{t.autor}}</p>
                <p class="card-text">{{t.anoConclusao}}/{{t.semestreConclusao}}</p>
              </div>
              <!--Botões de Ação-->
              <div class="card-actions btn-group p-2 w-100">
                <button class="btn btn-dark mr-1 round" data-toggle="tooltip" title="Vídeo de apresentação">
                  <i class="fas fa-play"></i>
                </button>
                <button class="btn btn-dark mr-1 round" data-toggle="tooltip" title="Ver ralatório">
                  <i class="fas fa-file"></i>
                </button>
                <button class="btn btn-dark mr-1 round" data-toggle="tooltip" title="Editar" (click)="carregarInfoProjeto(t)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger round" data-toggle="tooltip" title="Excluir" (click)="excluir(t.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <!--Botões de Ação Dropdown (para mobile apenas)-->
              <div class="dropdown card-actions-drop p-3">
                <button class="btn btn-dark dropdown-toggle round" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" data-toggle="tooltip" title="Vídeo de apresentação">
                    <i class="fas fa-play"></i> Vídeo de apresentação
                  </a>
                  <a class="dropdown-item" href="#" data-toggle="tooltip" title="Ver relatório">
                    <i class="fas fa-file"></i> Ver relatório
                  </a>
                  <a class="dropdown-item" href="#" data-toggle="tooltip" title="Editar" (click)="carregarInfoProjeto(t)">
                    <i class="fas fa-edit"></i> Editar
                  </a>
                  <a class="dropdown-item" href="#" data-toggle="tooltip" title="Excluir" (click)="excluir(t.id)">
                    <i class="fas fa-trash"></i> Excluir
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal para adicionar ou editar info de projetos-->
<div class="modal" tabindex="1" id="add-projeto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Registrar Novo Projeto</h5>
      </div>
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="modal-body">
          <div class="form-row">
            <div class="mb-3 col-sm-12">
              <label class="form-label">Titulo do Projeto</label>
              <input type="text" class="form-control" formControlName ="tituloProjeto">
              <div class="text-danger" *ngIf="isCampoValido('tituloProjeto')">
                Campo Obrigatório
              </div>
            </div>
            <div class="mb-3 col-md-12">
              <label class="form-label">Autor</label>
              <input type="text" class="form-control" formControlName ="autorProjeto">
              <div class="text-danger" *ngIf="isCampoValido('autorProjeto')">
                Campo Obrigatório
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label>Ano de conclusão</label>
              <select class="form-control" formControlName="anoConclusaoProjeto">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
              <div class="text-danger" *ngIf="isCampoValido('anoConclusaoProjeto')">
                Campo Obrigatório
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label>Semestre de conclusão</label>
              <select class="form-control" formControlName="semestreConclusaoProjeto">
                <option value="1">1º Semestre</option>
                <option value="2">2º Semestre</option>
              </select>
              <div class="text-danger" *ngIf="isCampoValido('semestreConclusaoProjeto')">
                Campo Obrigatório
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Protótipo</label>
              <input type="url" class="form-control" formControlName = "linkFigmaProjeto">
              <small class="form-text text-muted">
                *Apenas links do Figma
              </small>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Video de apresentação</label>
              <input type="url" class="form-control" formControlName = "linkYoutubeProjeto">
              <small class="form-text text-muted">
                *Apenas links do Youtube
              </small>
            </div>
            <div class="mb-3 col-md-6">
              <label for="formFile1" class="form-label">Relatorio</label>
              <input type="file" class="form-control" id="formFile1">
              <small class="form-text text-muted">
                *Apenas formato .pdf
              </small>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Thumbnail</label>
              <input type="file" accept="image/*" (change)="onFileChange($event)">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"
                  (click)="closeModal()">Fechar</button>
          <button class="btn btn-success" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
