.round{
  border-radius: 10px;
}

.card:hover, .card-add:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card {
  height: 200px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card:hover .card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
  transition: background-color 0.3s ease;
}

.card-title {
  position: absolute;
  bottom: 0;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 30px);
}

.card-info {
  position: absolute;
  bottom: 40px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 30px);
}

.card-actions {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-actions-drop {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.card:hover .card-body,
.card:hover .card-info,
.card:hover .card-actions {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .card-actions {
    visibility: hidden;
  }

  .card-actions-drop {
    visibility: visible;
  }
}
