 <!-- FOOTER -->
 <div class="container">
   <footer class="bg-dark">
     <div class="container p-4">
       <div class="row">
         <div class="col-lg-6 col-md-12 mb-4">
           <h5 class="mb-3" style="letter-spacing: 2px">Explorar, Criar, Inovar</h5>
           <p>
             "A inovação começa com uma ideia, mas é a coragem de experimentá-la que a transforma em realidade.
             No Laboratório de Interface, acreditamos que cada esboço pode se tornar uma obra-prima.
             Desafie-se, crie e inspire-se a transformar o mundo digital."
           </p>
         </div>
         <div class="col-lg-3 col-md-6 mb-4">
           <h5 class="mb-3" style="letter-spacing: 2px;">Navegue pelo site</h5>
           <ul class="list-unstyled mb-0">
             <li class="mb-1">
               <a class="footer-link" href="#!">Página Inicial</a>
             </li>
             <li class="mb-1">
               <a class="footer-link" [routerLink]="'editar-projeto'">Editar Projetos</a>
             </li>
             <li class="mb-1">
               <a class="footer-link" [routerLink]="'listar-projetos'">Sobre</a>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="text-center p-3 footer-bottom-text" style="background-color: rgba(0, 0, 0, 0.2);">
       <p>Criado por Lucas Dalla Nora Garlet para a disciplina de Programação Web - Técnico em informática - 2024</p>
     </div>
     <!-- Copyright -->
   </footer>

 </div>
 <!-- End of .container -->
